
.block3-space{
  height: 500px;
  width: 100%;

  background-image: url(https://cdn.pixabay.com/photo/2016/03/26/13/09/workspace-1280538_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
}

.opacity-temp{
  background-color: black;
  height: 500px;
  width: 100%;
  filter: opacity(0.8);

  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container{
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.l1,.l2,.l3{
  list-style: none;
}

a:link { text-decoration: none;
}



