.background-intro{
  height: 500px;
  width: 100%;
  background-image: url(https://cdn.pixabay.com/photo/2019/08/23/12/05/business-woman-4425609_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.background-filter{
  height: 500px;
  width: 100%;
  background-color: black;
  filter: opacity(0.6);
}

.background-content{
  height: 1300px;
  width: 100%;
  background-color: black;
}

.text-container{
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}

.l1,.l2,.l3{
  list-style: none;
}

a:link { text-decoration: none;
}